VPS/n8n/workflow-stock-alert-import.json
{
  "name": "📈 每日股價警報 (>2%)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": {}
        }
      },
      "id": "67495253",
      "name": "⏰ 每小時檢查（交易日）",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// ===== 你的股票監察名單 =====\nconst stocks = [\n  // 港股\n  { ticker: '0005.HK', name: '匯豐控股', market: 'HK' },\n  { ticker: '0006.HK', name: '電能實業', market: 'HK' },\n  { ticker: '0267.HK', name: '中信股份', market: 'HK' },\n  { ticker: '0270.HK', name: '粵海投資', market: 'HK' },\n  { ticker: '0363.HK', name: '上海實業', market: 'HK' },\n  { ticker: '0669.HK', name: '創科實業', market: 'HK' },\n  { ticker: '0823.HK', name: '領展房產基金', market: 'HK' },\n  { ticker: '0883.HK', name: '中國海洋石油', market: 'HK' },\n  { ticker: '0941.HK', name: '中國移動', market: 'HK' },\n  { ticker: '2388.HK', name: '中銀香港', market: 'HK' },\n  { ticker: '2800.HK', name: '盈富基金', market: 'HK' },\n  { ticker: '3466.HK', name: '香港高息股ETF', market: 'HK' },\n  { ticker: '3988.HK', name: '中國銀行', market: 'HK' },\n  { ticker: '6823.HK', name: '香港電訊', market: 'HK' },\n  // 美股\n  { ticker: 'JPM', name: '摩根大通', market: 'US' },\n  { ticker: 'ABBV', name: '艾伯維', market: 'US' },\n  { ticker: 'CVX', name: '雪佛龍', market: 'US' },\n  { ticker: 'O', name: 'Realty Income', market: 'US' },\n  { ticker: 'VZ', name: 'Verizon', market: 'US' }\n];\n\nreturn stocks;"
      },
      "id": "c0322dfa",
      "name": "📋 股票清單",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "c09ba6e8",
      "name": "🔁 逐隻檢查",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://query1.finance.yahoo.com/v8/finance/chart/{{ $json.ticker }}",
        "options": {
          "response": {
            "responseFormat": "json"
          }
        }
      },
      "id": "0206fa98",
      "name": "📊 取股價 (Yahoo Finance)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        750,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst result = item.chart?.result?.[0]?.meta;\n\nif (!result) {\n  return [{ json: { alert: false } }];\n}\n\nconst currentPrice = result.regularMarketPrice;\nconst prevClose = result.previousClose;\nconst changePercent = ((currentPrice - prevClose) / prevClose) * 100;\nconst absChange = Math.abs(changePercent);\n\n// 只有變動 > 2% 先觸發 alert\nif (absChange <= 2) {\n  return [{ json: { alert: false } }];\n}\n\nconst direction = changePercent > 0 ? '📈 上升' : '📉 下跌';\n\nreturn [{\n  json: {\n    alert: true,\n    ticker: item.ticker,\n    name: item.name,\n    market: item.market,\n    price: currentPrice.toFixed(2),\n    changePercent: changePercent.toFixed(2),\n    direction: direction,\n    prevClose: prevClose.toFixed(2),\n    timestamp: new Date().toLocaleString('zh-HK', { timeZone: 'Asia/Hong_Kong' })\n  }\n}];"
      },
      "id": "e98c9844",
      "name": "🧮 計算變動 & 過濾 >2%",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-alert",
              "leftValue": "={{ $json.alert }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ]
        }
      },
      "id": "19a1e04c",
      "name": "🔔 需通知？",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconst message = `🚨 *${item.name} (${item.ticker})* 股價異動\n\n${item.direction} *${item.changePercent}%*\n\n當前價格：$${item.price}\n前收市價：$${item.prevClose}\n市場：${item.market === 'HK' ? '🇭🇰 港股' : '🇺🇸 美股'}\n時間：${item.timestamp}`;\n\nreturn [{ json: { chatId: '{{ $env.TELEGRAM_CHAT_ID }}', message: message } }];"
      },
      "id": "7c354e97",
      "name": "✏️ 格式化訊息",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        250
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "db1549dc",
      "name": "📬 Send Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1750,
        250
      ]
    }
  ],
  "connections": {
    "⏰ 每小時檢查（交易日）": {
      "main": [
        [
          {
            "node": "📋 股票清單",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 股票清單": {
      "main": [
        [
          {
            "node": "🔁 逐隻檢查",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔁 逐隻檢查": {
      "main": [
        [
          {
            "node": "📊 取股價 (Yahoo Finance)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 取股價 (Yahoo Finance)": {
      "main": [
        [
          {
            "node": "🧮 計算變動 & 過濾 >2%",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧮 計算變動 & 過濾 >2%": {
      "main": [
        [
          {
            "node": "🔔 需通知？",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔔 需通知？": {
      "main": [
        [],
        [
          {
            "node": "✏️ 格式化訊息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✏️ 格式化訊息": {
      "main": [
        [
          {
            "node": "📬 Send Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "versionId": "1",
  "active": false,
  "settings": {},
  "tags": [],
  "id": "import-placeholder"
}